<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="author" content="yogasmara">
  <title>Todo List App</title>
  <!-- bootstrap css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <script>
    if (!document.cookie.indexOf('nameTodo') == 0) {
      window.location = "/login"
    } 
  </script>
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card mt-5 shadow-effect">
          <h5 class="card-header">
            Account
          </h5>
          <div class="card-body">
            <h5 class="card-title">
              <span id="name-user"></span>
            </h5>
            <p class="card-text">
              <!-- some text goes here -->
            </p>
            <a href="/logout" id="logout-button" class="btn btn-outline-danger">Logout</a>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card mt-5 shadow-effect">
          <h5 class="card-header">
            To do List
          </h5>
        </div>
        <!-- To do list goes below -->
        <div class="item-list">

          <div class="card mt-3 shadow-effect">
            <div class="card-body">
              <div class="item">
                This is some text within a card body.
              </div>
              <div class="item-button pt-3 mt-2 border-top">
                <button type="button" class="btn btn-outline-primary">Done</button>
                <div class="float-right">
                  <button type="button" class="btn btn-outline-info">Edit</button>
                  <button type="button" class="btn btn-outline-danger">Delete</button>
                </div>
              </div>
            </div>
          </div>

          <div class="card mt-3 shadow-effect">
            <div class="card-body">
              <div class="item">
                This is some text within a card body.
              </div>
              <div class="item-button pt-3 mt-2 border-top">
                <button type="button" class="btn btn-outline-primary">Done</button>
                <div class="float-right">
                  <button type="button" class="btn btn-outline-info">Edit</button>
                  <button type="button" class="btn btn-outline-danger">Delete</button>
                </div>
              </div>
            </div>
          </div>

          <div class="card mt-3 shadow-effect">
            <div class="card-body">
              <div class="item">
                This is some text within a card body.
              </div>
              <div class="item-button pt-3 mt-2 border-top">
                <button type="button" class="btn btn-outline-primary">Done</button>
                <div class="float-right">
                  <button type="button" class="btn btn-outline-info">Edit</button>
                  <button type="button" class="btn btn-outline-danger">Delete</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Edit Form -->
          <div class="card shadow-effect">
            <div class="card-body">
              <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Edit</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- bootstrap script -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <!-- script for using cookie -->
  <script>
    var arr = document.cookie.split(';'),
      cookies = {};
    for (var i = 0; i < arr.length; i++) {
      var parts = arr[i].split('=');
      if (parts.length !== 2) continue;
      cookies[parts[0].trim()] = parts[1];
    }
    // checking the cookies
    // console.dir(cookies)

    document.getElementById('name-user').textContent = cookies.nameTodo;
  </script>
</body>

</html>